h1, p, table, a {
    font-family: Calibri, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table {
    margin-bottom: 8px
}

td, th {
    text-align: left;
    padding: 4px;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}
